{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
    <title>Catálogo Productos</title>
</head>

{% load staticfiles %}

<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="{% static 'images/loguito.png'%}" alt="" height="80" width="300">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalogo' %}">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tecnicos' %}" id="navbarDropdownPortfolio" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Técnicos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registro' %}">
                            Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <img src="https://images.samsung.com/is/image/samsung/p5/al/products/climate/feature/ac-rac-ar12nxwxcwkn/img_sec03?$ORIGIN_JPG$"
            alt="">
    </div>
    <!-- Portfolio Section -->
    <br>
    <br>
    <br>
    <center>
        <h2>Nuestros productos</h2>
    </center>
    <br>
    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'images/first.png' %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Ventana control remoto - anwo.</a>
                    </h4>
                    <p class="card-text">Características:</p>
                    <p class="card-text">* Diseño compacto</p>
                    <p class="card-text">* Silenciosa unidad motor-ventilador</p>
                    <button>Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'images/second.png' %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Mini Split Muro - Ocean</a>
                    </h4>
                    <p class="card-text">Características:</p>
                    <p class="card-text">* Control remoto inalámbrico</p>
                    <p class="card-text">* Silencioso</p>
                    <p class="card-text">* Reinicio automático</p>
                    <button>Agregar al carrito</button>


                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'images/trist.png'%}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Mini Split Muro - Anwo</a>
                    </h4>
                    <p class="card-text">Características:</p>
                    <p class="card-text">* Alta eficiencia EER clase "A", bajo consumo de energia en frio y calor.</p>
                    <p class="card-text">* Control remoto inalámbrico</p>
                    <p class="card-text">* Función dormir programable</p>
                    <button>Agregar al carrito</button>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'images/four.png' %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Split Muro Cool Desing - Anwo</a>
                    </h4>
                    <p class="card-text">Características:</p>
                    <p class="card-text">* Luz inteligente frio/calor.</p>
                    <p class="card-text">* Visor LCD facil operación.</p>
                    <p class="card-text">* Gestor de aire inteligente.</p>
                    <p class="card-text">* Anti-moho.</p>
                    <button>Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'images/five.png' %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Split Muro Inverter - Anwo</a>
                    </h4>
                    <p class="card-text">Características:</p>
                    <p class="card-text">* Función de autodiagnóstico</p>
                    <p class="card-text">* Reinicio automático</p>
                    <p class="card-text">* Anticorrosivo</p>
                    <button>Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'images/six.png' %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Aire Acondicionado Portatil - Anwo</a>
                    </h4>
                    <p class="card-text">Características:</p>
                    <p class="card-text">* Panel digital.</p>
                    <p class="card-text">* Con ruedas para su translado.</p>
                    <p class="card-text">* Filtro, mejora la calidad del aire que circula.</p>
                    <button>Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>
    {% load static %}
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>