{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacto</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js'%}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
       <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
     <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#Formulario").submit(function (event) {
                event.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '../php/contacto2.php',
                    data: $(this).serialize(),
                    success: function (data) {
                        $("#respuesta").slideDown();
                        $("#respuesta").html(data);
                        $('#respuesta2').modal('show');
                        document.getElementById('Formulario').reset();
                    }
                });

                return false;
            });
        });
    </script>
</head>
{% load staticfiles %}

<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="{% static 'images/loguito.png'%}" alt="" height="80" width="300">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalogo' %}">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tecnicos' %}">
                            Técnicos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registro' %}">
                            Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <!-- Content -->
    <br><br>
    <section>
        <div class="container">
            <div class="container">
                <h4>Pongase en contacto con nosotros</h4>
                <div class="container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d7889.40621095499!2d-70.23299216136742!3d8.624475075086659!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d8.626995899999999!2d-70.2301559!5e0!3m2!1ses-419!2sve!4v1456756695234"
                        style="border:0" allowfullscreen="" frameborder="0" height="250" width="100%"></iframe>
                </div>
                <strong>Contactenos</strong><br><strong>Oficina:</strong> 123456789
                <hr>
            </div>
            <div class="container">
                <form role="form" id="Formulario" action="../php/contacto2.php" method="POST">
                    <div class="form-group">
                        <label class="control-label" for="Nombre">Nombres</label>
                        <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Introduzca su nombre"
                            required autofocus />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Motivo">Motivo de Contacto</label>
                        <select name="Motivo" class="form-control">
                            <option value="Consulta General">Consulta General</option>
                            <option value="Realizar Pedido">Realizar Pedido</option>
                            <option value="Informe un problema">Informe un problema</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Empresa">Empresa</label>
                        <input type="text" class="form-control" id="Empresa" name="Empresa" placeholder="Introduzca el nombre de su empresa"
                            required />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Correo">Dirección de Correo Electrónico</label>
                        <input type="email" class="form-control" id="Correo" name="Correo" placeholder="Introduzca su correo electrónico"
                            required />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Mensaje">Mensaje</label>
                        <textarea rows="5" cols="30" class="form-control" id="Mensaje" name="Mensaje" placeholder="Introduzca su mensaje"
                            required></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Enviar">
                        <input type="reset" class="btn btn-default" value="Limpiar">
                    </div>
                    <div id="respuesta" style="display: none;"></div>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% load static %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/jquery.min.js"><\/script>')</script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../js/ie10-viewport-bug-workaround.js"></script>

</body>

</html>