<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Baires</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="{% static 'images/loguito.png'%}" alt="" height="80" width="300">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'catalogo' %}">Catálogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tecnicos' %}" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Técnicos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registro' %}">
              Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('https://www.vaillant.es/images/products-overviewb2b/soluciones-domesticas/aire-acondicionado-1052946-format-16-9@1440@desktop.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h1 style="color:black">Bienvenido</h1>
            <h4 style="color:black">Aquí encontrará productos los mejores productos para dar calidez a su hogar.</h4>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://www.telemundo.com/sites/nbcutelemundo/files/styles/article_cover_image/public/images/promo/article/2017/07/27/manos-en-computador.jpg?itok=x-0t7XpO')">
          <div class="carousel-caption d-none d-md-block">
            <h1 style="color:black">Compre directamente aqui en nuestra página</h1>
            <h3 style="color:black">Reciba su aire acondicionado directamente en la puerta de su hogar</h3>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://www.hiraoka.com.pe/images/servtec/servicio-tecnico1.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h1 style="color:black">¿Necesita la asistencia de un técnico?</h1>
            <h3 style="color:black">Registrese y tendrá asistencia inmediata!</h3>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
    <br><br>
    <center> <img src="{% static 'images/familia.jpg' %}" alt="" ></center> 
    <br>
    <br>
    <h1 class="my-4">En Baires visitamos tu hogar de manera gratuita para entregarte una solución personalizada</h1>
    <br>
    <br>
    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Visita a domicilio</h4>
          <div class="card-body">
            <p class="card-text">Uno de nuestros expertos visitará tu casa de manera gratuita para aconsejarte sobre la mejor solución.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Agendar visita</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Instalación</h4>
          <div class="card-body">
            <p class="card-text">Nuestro equipo de instaladores se preocupará de cada detalle en la instalación.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Cotizar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Mantención</h4>
          <div class="card-body">
            <p class="card-text">La experiencia con Livehome no termina con la instalación.
              Recomendamos realizar mantenciones anuales y semestrales a sus equipos para que siempre estén en óptimas condiciones.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Agendar mantención</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <br><br>
    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>La más moderna gama de servicios</h2>
        <p>Te invitammos a conocer nuestros productos y los beneficios en tu compra: </p>
        <ul>
          <li>
            <strong>Despacho a domicilio</strong>
          </li>
          <li>Pago online de servicio</li>
          <li>Atención rápida por especialistas</li>
          <li>Reserva de productos con proveedora Anwo</li>
          <li>10 Años de experiencia en aires acondicionados</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="https://images.samsung.com/is/image/samsung/p5/cl/air-conditioners/ar9500m/img_sec0502.jpg?$ORIGIN_JPG$" alt="">
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <h3>No lo pienses más! Asesorate con nosotros y haz tu cotización</h3>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="#">Contactarme!</a>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
