<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/registro.css'%}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <title>Login</title>
</head>

<body style="background-image: url('https://i.blogs.es/58f5fc/plamaster-20ionizer-204252013/450_1000.jpg')">
    <div class="testbox">
        <h1>Registro</h1>

        <form action="/">
            <hr>
            <div class="accounttype">
                <input type="radio" value="None" id="radioOne" name="account" checked />
                <label for="radioOne" class="radio" chec>Persona</label>
                <input type="radio" value="None" id="radioTwo" name="account" />
                <label for="radioTwo" class="radio">Empresa</label>
            </div>
            <hr>
            <label id="icon" for="name"><i class="icon-envelope "></i></label>
            <input type="text" name="name" id="name" placeholder="Correo" required />
            <label id="icon" for="name"><i class="icon-user"></i></label>
            <input type="text" name="name" id="name" placeholder="Nombre completo" required />
            <label id="icon" for="name"><i class="icon-shield"></i></label>
            <input type="password" name="name" id="name" placeholder="Contraseña" required />
            
            <a href="#" class="button">Ir!</a>
        </form>
    </div>
</body>

</html>