<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Servicios</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/shop-item.css' %}" rel="stylesheet">

</head>
{% load staticfiles %}

<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="{% static 'images/loguito.png'%}" alt="" height="80" width="300">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalogo' %}">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tecnicos' %}" id="navbarDropdownPortfolio" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Técnicos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registro' %}">
                            Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br><br>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <h1 class="my-4">Servicios Baires</h1>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Técnicos a domicilio</a>
                    <a href="#" class="list-group-item">Venta en tienda y pagina web </a>
                    <a href="#" class="list-group-item">Cotizaciones para empresas</a>
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="{% static 'images/tecnicos.png' %}" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Servicio técnico de aire acondicionado: ofrece un servicio impecable</h3>

                        <p class="card-text">Baires, ofrece un servicio experto, dedicado a la reparación de Aire
                            Acondicionado de todas las marcas y modelos, especializándonos específicamente en equipos
                            de Aire Acondicionado Ecológicos, sistema refrigerante 410-a, el cual ayuda a la
                            sustentabilidad y eficiencia del medio ambiente. Este aparte de no contaminar, reduce al
                            mínimo su consumo energético.

                            Disponemos de técnicos para todas las comunas de Santiago. Y para esto contamos con un
                            personal experto en nuestro servicio técnico de aire acondicionado. Todos tienen su
                            respectivo título técnico, y lo más importante es que han pasado por rigurosas
                            capacitaciones, para estar al tanto de soluciones eficientes en todas las nuevas
                            tecnologías.Y así poder atenderlo en forma rápida, y responsable, entregando garantías para
                            que usted se sienta respaldado en cada momento.

                            Las reparaciones suelen ejecutarse en el domicilio del cliente o en empresas, y en pocos
                            casos se hace retiro de los equipos, siempre según la necesidad de la reparación. Esto es
                            relativo y queda sujeto al diagnóstico técnico que hagan nuestros profesionales.

                            En nuestro servicio técnico de aire acondicionado, realizamos reparaciones y mantenciones
                            de equipos de prestigiosas marcas de Aire Acondicionado: General Electric, Westinghouse,
                            Frigidaire, Samsung, Carrier, Anwo, Samsung, Clark, Norwood, York, Lennox, Tecnapex,
                            Pctronic, Westpoint, L.G.</p>
                        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                        4.0 stars
                    </div>
                </div>
                <!-- /.card -->

                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        Opiniones de nuestros clientes
                    </div>
                    <div class="card-body">
                        <p>Nos gustó mucho tanto la atención del servicio como los aires. Lo único que sugeriría es
                            mejorar la presentación del steak tartar. Muy bueno, pero la apariencia no estaba a la
                            altura.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <p>Se demoró mucho en llegar el tecnico a mi casa y me cague de frio toda la mañana. </p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <p>El aire que compre es bacan, antes pasaba mucho calor en mi casa los veranos. Ahora duermo
                            fresquito. Gracias Anwo por tanto placer !</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <a href="#" class="btn btn-success">Registrate y dejanos tu opinión!</a>
                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>