<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Técnicos</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">

</head>
{% load staticfiles %}

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="{% static 'images/loguito.png'%}" alt="" height="80" width="300">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'catalogo' %}">Catálogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tecnicos' %}" id="navbarDropdownPortfolio" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Técnicos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registro' %}">
              Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://www.hiraoka.com.pe/images/servtec/servicio-tecnico1.jpg" alt="First slide">
      </div>
    </div>
  </div>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>SERVICIO TECNICO AUTORIZADO es especialista en servicios de reparación, instalación, y mantención de
            aires acondicionados.</h2>
          <p class="lead">Tratamos cualquier mal funcionamiento de los sistemas de aire acondicionado, tales como:</p>
          <ul>
            <li>- Ruidos molestos.</li>
            <li>- No deja de funcionar.</li>
            <li>- Tuberías calientes.</li>
            <li>- Vibración de motor.</li>
            <li>- Pérdida de potencia.</li>
            <li>- Obstrucciones.</li>
            <li>- Instalaciones defectuosas.</li>
            <li>- Cortocircuito.</li>
            <li>- Ventilador roto.</li>
            <li>- Limpieza de conductos.</li>
            <li>- Problemas en el encendido.</li>
            <li>- Equipo bloqueado.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Repuestos que se pueden reemplazar:</h2>
          <br><br>
          <ul>
            <li>- Cambio de Motor Comprensor.</li>
            <li>- Ventilador.</li>
            <li>- Carga de gas / cambio de filtro.</li>
            <li>- Cambio de Termostato.</li>
            <li>- Cambio capacitador o cambio de condensador.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>CONTACTO</h2>
          <h3>Para agendar una visita técnica, contáctese con nostros.</h3>
          <ul>
            <li>Tel: 2 2204 5307</li>

            <li>Tel: 2 2225 7458</li>

            <li>Email: tecnicoautorizado@Baires.cl</li>

            <li>Horario: Lun - Sab de 8:00 - 20:00 hrs.</li>
          </ul>

        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'js/jquery.easing.min.js' %}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'js/scrolling-nav.js' %}"></script>

</body>

</html>